// TODO[JB]: Find out how to add this
// common styles to the loader.
@import '../../styles/index.scss';

// Block
// -------------------------------------
.root {
    composes: root from '../questionOne/questionOne.module.scss';
    flex-direction: column;
}

// Elements
// -------------------------------------
.container {
    margin-bottom: var(--space-xl);

    p {
        margin-bottom: var(--gutter);
        margin-top: 0;
    }
}
.button {
    composes: button from '../questionOne/questionOne.module.scss';
}
