// TODO[JB]: Find out how to add this
// common styles to the loader.
@import '../../styles/index.scss';

// Variables
// -------------------------------------
$radio-container-width: 240px;
$radio-label-font-size: 28px;

// Block
// -------------------------------------
.root {
    composes: root from '../questionOne/questionOne.module.scss';
}

// Elements
// -------------------------------------
.container {
    composes: container from '../questionOne/questionOne.module.scss';
}

.title {
    composes: title from '../questionOne/questionOne.module.scss';
}

.radioContainer {
    display: flex;
    font-size: $radio-label-font-size;
    font-weight: 700;
    justify-content: space-between;
    margin-bottom: var(--space-xl);
    width: $radio-container-width;
}

.button {
    composes: button from '../questionOne/questionOne.module.scss';
}
