// TODO[JB]: Find out how to add this
// common styles to the loader.
@import '../../styles/index.scss';

// Variables
// -------------------------------------

// Block
// -------------------------------------
.root {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: var(--double-gutter);
    min-height: 100vh;

    // Elements
    // -------------------------------------
    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}
