// Color Palette
// -------------------------------------------

:root {
    // Base colors
    --light: #fff;
    --dark: #000;

    // App colors
    --main-bg-color: #282c34;
    --home-link-color: #61dafb;
}
