// Variables
// -------------------------------------------

// Spacing
:root {
    --gutter: 8px;
    --double-gutter: 16px;
    --space: 32px;
    --space-xl: 64px;
}

// Animations
$global-animation-duration: .5s;
